.profile-image{
    max-width: 200px;
    max-height: 200px;
    border: 2px solid pink;
    border-radius: 50%;

}
.table {
    font-family: arial, sans-serif;
   
    width: 100%;
    border-collapse: collapse;
  }
  
td,tr {
    border: .5px solid #dddddd;
    text-align: left;
    padding: 15px 15px;
    border-collapse: collapse;
    text-align: center;
  }
/*   
  tr:nth-child(even) {
    background-color: #dddddd;
  } */

  .margin-between{
    margin-left: 5px;
  }