<mat-card *ngIf="user">

    <h1 style="margin-bottom: 10px;margin-left: 50px;">Your Profile Details !!</h1>
    <mat-card-content>

        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container text-center">
                    <img src="../../../assets/register.jpeg" alt="" class="profile-image" />
                </div>
                <h1 class="text-center">{{user.firstName}} {{user.lastName}} </h1>
                <div class="row ">

                    <div class="col-md-10 offset-md-1">

                        <!--  table contents-->


                        <table style="width: 100%;">

                            <tr>
                                <td>Username</td>
                                <td>{{user.username}}</td>

                            </tr>
                            <tr>
                                <td>UserId</td>
                                <td>{{user.id}}</td>

                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{user.email}}</td>

                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>{{user.phone}}</td>

                            </tr>
                            <tr >
                                <td>Account Status</td>
                                <td *ngIf="user.enabled" >Active</td>
                                <td *ngIf="!user.enabled">DeActivated</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>{{user.authorities[0].authority|lowercase}}</td>

                            </tr>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </mat-card-content>
    <div class="text-center" style="margin-top: 10px; margin-bottom: 15px;">
        <button mat-raised-button color="primary">UPDATE</button>
        <button mat-raised-button color="accent" class="margin-between">SHARE</button>
    </div>
</mat-card>