<div class="bootstrap-wrapper">
    <div class="container" style="height: 100%;">
        <div class="row" >
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="container text-center">
                        <img src="../../../assets/register.jpeg" alt="" style="height: 90 px;width: 90px;" />
                    </div>

                    <h1 class="text-center">Register Here !!</h1>
                    <form (ngSubmit)="registerFormSubmit()">
                        <!--username field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input type="text" matInput placeholder="Enter username" [(ngModel)]="user.userName"
                                name="userName" required>
                        </mat-form-field>
                        <!--firstName field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>First name</mat-label>
                            <input type="text" matInput placeholder="Enter first name" [(ngModel)]="user.firstName"
                                name="firstName" required>
                        </mat-form-field>
                        <!--last name field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Last name</mat-label>
                            <input type="text" matInput placeholder="Enter last name" [(ngModel)]="user.lastName"
                                name="lastName">
                        </mat-form-field>
                        <!--email field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput placeholder="Enter email" [(ngModel)]="user.email" name="email"
                                required>
                        </mat-form-field>
                        <!-- phone number field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Phone number</mat-label>
                            <input type="number" matInput placeholder="Enter phone number" [(ngModel)]="user.phone"
                                name="phone" required>
                        </mat-form-field>
                        <!--passwordfield-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput placeholder="Enter password" [(ngModel)]="user.password"
                                name="password" required>
                        </mat-form-field>
                        <div class="container text-center">
                            <button type="submit" mat-fab extended color="primary">
                                <mat-icon>favorite</mat-icon>
                                Register
                            </button>
                            <button class="margin-left" mat-fab extended color="accent">
                                <mat-icon>favorite</mat-icon>
                                Reset
                            </button>
                        </div>
                    </form>
                </mat-card>
            </div>

        </div>
    </div>
</div>