<h1>View questions of {{ getQuizTitle}}</h1>

<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <mat-card *ngFor="let item of questions;let i = index " style="margin-top: 8px;">

                <mat-card-content>
                    <p><b> Q {{ i+1 }}) </b> <span class="margin-left" [innerHTML]="item.content"></span></p>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="class-md-6">
                                <p><b class="margin-left">1)</b> {{ item.option1 }}</p>
                            </div>
                            <div class="class-md-6 " style="margin-left: 50%;">
                                <p><b class="margin-left">2)</b> {{ item.option2 }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="class-md-6">
                                <p><b class="margin-left">3)</b> {{ item.option3 }}</p>
                            </div>
                            <div class="class-md-6" style="margin-left: 50%;">
                                <p><b class="margin-left">4)</b> {{ item.option4 }}</p>
                            </div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <p><b>Correct answer : </b>{{item.answer}}</p>
                    <div class="row">
                        <div class="margin-left">
                            <button  mat-stroked-button color="accent">Update</button>
                        </div>
                        <div class="margin-left">
                            <button (click)="deleteQues(item.questionId)" mat-stroked-button color="warn">Delete</button>
                        </div>
                    </div>
                </mat-card-content>

            </mat-card>
            <div class="text-center">

                <button [routerLink]="'/admin/add-question/'+getQuizId+'/'+getQuizTitle" mat-raised-button
                    color="primary" class="mt20">Add
                    Question</button>
            </div>

        </div>
    </div>
</div>